{% extends "base.html" %}

{% block title %}Edit Appointment{% endblock %}
{% block header %}Edit Appointment Details{% endblock %}

{% from "common/_fields.html" import render_field %}
{% block content %}
    <nav class="navbar navbar-default">  
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('appointment.index') }}">Queens VA Patient Appointment Interface</a>
            </div>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('appointment.edit') }}">
                        Edit Appointment
                    </a>
                </li>
            </ul>
        </div>
    </nav>  
    <form method="post" class="form-horizontal col-lg-5" action="{{ url_for('appointment.edit') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ render_field(form.name) }}
            {{ render_field(form.phone_number) }}
            {{ render_field(form.provider_name) }}
            {{ render_field(form.delta) }}
            {{ render_field(form.time, id="time") }}
            {{ render_field(form.timezone, id="timezone-field") }}

            <button type="submit" class="btn btn-warning btn-lg">Edit</button>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ url_for('static', filename='js/datetime-picker.js') }}"></script>
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">
{% endblock %}