{% extends "base.html" %}

{% block title %}Queens VA SMS Reminder Project{% endblock %}
{% block header %}Appointment Scheduling Web App{% endblock %}

{% block content %}
  <h1>Demo for Provider End</h1>
  
  <p>
    <a class="btn btn-primary btn-lg" href="/appointment/new">New Appointment</a>
  </p>

  {% if appointments %}
  <table class="table">
    <thead>
      <th>Patient Name</th>
      <th>Mobile Number</th>
      <th>Provider Name</th>
      <th>Appointment Time</th>
      <th>Reminder Time</th>
      <th>Timezone</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {% for appointment in appointments  %}
        <tr>
          <td>{{ appointment.name }}</td>
          <td>{{ appointment.phone_number }}</td>
          <td>{{ appointment.provider_name }}</td>
          <td>{{ appointment.time }}</td>
          <td>{{ appointment.delta }}</td>
          <td>{{ appointment.timezone }}</td>
          <td>
            <form method="POST" action="{{ url_for('appointment.edit', id=appointment.id) }}">
              <button type="submit" class="btn btn-primary btn-xs">Edit</button>
            </form>
            <form method="POST" action="{{ url_for('appointment.delete', id=appointment.id) }}">
              <button type="submit" class="btn btn-danger btn-xs">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <div class="well">
      There are no appointment reminders scheduled.
    </div>
  {% endif %}

{% endblock %}
